*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg_blu_scuro{
    background-color: rgba(0,67,156,255);
}
.bg_darkblu{
    background-color: rgba(22,28,59,255);
}
.bg_color{
    background-color:rgba(255,255,255,500);
}
.bg_red{
    background-color: red;
    border: 3px solid red;
}
.bg_blu{
    background-color: blue;
    border: 3px solid blue;
}
.bg_gray{
    background-color: rgba(54,54,54,255);
    margin: 0 10px;
    border: 3px solid rgba(54,54,54,255);
}
.bg_lightgrey{
    background-color: rgba(190,188,187,255);
}
.bg_white_opacity{
    background-color: rgba(255, 255, 255, 0.308);
}
.bg_white{
    background-color: white;
}
.bottone{
    
    padding: 10px 20px;
    border-radius: 20px;
    
    text-decoration: none;
    color: white;
}
.bottone:hover{
    
    color: white;
    box-shadow: inset 0px 0px 0px 3px white;
}
.sony{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    
    vertical-align: middle;
    text-transform: uppercase;
}
.barra_sony{
    background-color: black;
    height: 28px;
}
.logo_sony{
    height: 100%;
    padding: 5px 0;
}
.hero{
    height: calc(100vh - 155px);
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_hero{
    margin-bottom: 40px;
    margin-left: 10px;
    color: white;
}
.titolo{
    font-size: 3em;
}
.duble_border{
    border: 3px double rgb(71, 71, 255);
    border-radius: 20px;
}
.immagini_sez_2{
    border-radius: 20px;
    
}
.immagini_sez_2:hover{
    border: 3px double rgb(71, 71, 255);
}
.play{
    color: rgba(30,130,212,255);
    margin-bottom: -5px;
}
.colore_sbiadito{
    color: rgba(0, 0, 0, 0.5);
}
.effetto_foto{
    filter: opacity(50%);
    border-bottom: 3px solid white;
}
.effetto_foto:hover{
    filter: opacity(100%);
    
}
.effetto_bordo:hover{
    border-bottom: 3px solid rgba(30,130,212,255);
}

.it_take{
    margin-top: 100px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.bordo{
    border-bottom: 3px solid rgba(30,130,212,255);
}
.nuove_uscite div img{
    border-radius: 20px;
    
}
.t_m{
    font-size: 12px;
    vertical-align: text-top;
    display: inline-block;
}
.nuove_uscite{
    background-color: rgba(31,31,31,255);
}
.registred{
    font-size: 12px;
    vertical-align:top;
    display: inline-block;
    margin-top: 12px;
}
.larghezza{
    width: 80%;
}
.dimensioni_globe{
    height: 20px;
}
.lista_footer li{
    list-style-type: none;
}
.lista_footer li a{
    text-decoration: none;
    color: white;
}
.lista_footer{
    margin: 0;
}
.sie_logo{
    height: 60px;
}
